<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.deorabanna1925.boredom">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Boredom"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.FoodsActivity"
            android:exported="true"
            android:theme="@style/TranslucentBar" />
        <activity
            android:name=".activity.TvShowDetailsActivity"
            android:exported="true"
            android:theme="@style/TranslucentBar" />
        <activity
            android:name=".activity.GitHubTrendingActivity"
            android:exported="true" />
        <activity
            android:name=".activity.RandomUserActivity"
            android:exported="true" />
        <activity
            android:name=".activity.TvShowsActivity"
            android:exported="true" />
        <activity
            android:name=".activity.DictionaryActivity"
            android:exported="true" />
        <activity
            android:name=".activity.WhenIsTheNextMcuFilmActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activity.MapViewActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activity.ThisPersonDoesNotExistActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/TranslucentBar" />
        <activity
            android:name=".activity.SpeechTextActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.thefinestartist.finestwebview.FinestWebViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensor"
            android:theme="@style/FinestWebViewTheme.Light"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".activity.TextSpeechActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activity.IssLocationActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activity.CountryActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activity.AdviceSlipActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/TranslucentBar" />
        <activity
            android:name=".activity.KanyeWestActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/TranslucentBar" />
        <activity
            android:name=".activity.GradientActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/TranslucentBar" />
        <activity
            android:name=".activity.SomethingActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activity.ColorsActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/TranslucentBar" />
        <activity
            android:name=".DashboardActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>